---
layout: layouts/base.njk
bodyClass: body-article
stylesheet: blog-style.css
showBanner: false
ogType: article
---

<article class="post-container">
  <div class="post-content">
    <header class="post-header">
      <h1 class="post-heading">{{ title }}</h1>
    </header>
    <div class="post-meta">
      
      <p class="post-author"><i>{{ date | formatDate }}<br>By {{ author }}</i></p>
    </div>
    {{ content | safe }}
  </div>
</article>
