---
layout: layouts/base.njk
bodyClass: body-about
---
<div class="about-sections">

  <div class="about-images">
    <img src="{{ site.baseUrl }}static/images/IMG_6927 (1).jpg" class="about-image" alt="img1" loading="lazy">
    <img src="{{ site.baseUrl }}static/images/IMG_0327.JPG" class="about-image" alt="img2" loading="lazy">
  </div>

  <div class="about-texts">
    <div class="about-text">
      <p><b>Angel Outsider is a blog and digital archive imagined by Amelie Wu and Raine Torres about anything and everything they want.</b></p>
      <br>
      <p>✦</p>
      <br>
      <p>Angel Outsider is an ode to Los Angeles (the City of Angels) and an encapsulation of all the gifts it has bestowed upon two girls from the Valley. It is a personal museum of friendship that houses our innermost thoughts and our outermost expressions. It is a shared language, at once personal, communal, sacred, and poised in conversation with one another. </p>
      <br>
      <p>Like Los Angeles, Angel Outsider is vast in its scope and full of contrast, yet intimately connected by winsome conduits often manifested in the form of car rides, freeways, and light. Like us, the topics we cover will be boundless and multifaceted.</p>
      <br>
      <p>Here, you will find put to paper the fleeting thoughts we grasp just as they drift past our subconscious as well as the more tenacious thoughts that we may have ruminated on for too long and too much.</p>
      <br>
      <p>Angel Outsider takes it all as gifts. </p>
      <br>
      <p>✦</p>
      <br>
      <p>We credit our name to poet, author, and intellectual goddess Audre Lorde, who published canonical texts under the encompassing title, <em>Sister Outsider</em>. Angel Outsider breathes life from feeling and care, values deeply held in Lorde’s work. Within our own reflections, feeling indicates ownership and existence. Across art, music, process, and being we seek to explore this notion of existence within the community we all feel as Angels in this City and the spaces we are still outside of.</p>
    </div>
  </div>

</div>
